table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd88;
  padding: 19.2px 18px;
  text-align: center;
}

/* Shimmer animation */
.shimmer {
  animation: shimmer 2s infinite;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
