@import "../../index.css";

.main--section {
  background-color: white;
  padding: 1%;
}

.sidebar--logo {
  /* padding: 10px 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 4rem;
}

.nav--menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item--name {
  overflow-x: visible;
  min-width: 12rem;
  font-weight: bold;
  color: var(--grey);
}

[data-active="true"] {
  color: #556ee6;
}

[data-title]:hover:after {
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: white;
  color: black;

  font-size: 12px;
  position: absolute;
  /* padding: 4px 8px 4px 8px; */
  visibility: hidden;
}
